@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Zalando Sans Expanded', 'Roboto', sans-serif;
}

.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    color: white;
}

.logo {
    margin: 20px;
    font-size: 22px;
    transition: 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

.header a {
    color: white;
    transition: 0.3s ease;
}

.header a:hover {
    color: #3882F6;
    transform: scale(1.1);
}

.cta-nav {
    height: 30px;
    width: 70px;
    margin-right: 20px;
    background: #3882F6;
    color: white;
    font-size: 15px;
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cta-nav:hover {
    background: white;
    color: black;
    transform: scale(1.1);
}
