@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Zalando Sans Expanded', 'Roboto', 'Bubbler One', sans-serif;
}

/* Header Section Stylings */
.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    color: white;
}

.logo {
    margin: 20px;
    font-size: 22px;
    transition: 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

.header a {
    color: white;
    transition: 0.3s ease;
}

.header a:hover {
    color: #3882F6;
    transform: scale(1.1);
}

.cta-nav {
    height: 30px;
    width: 70px;
    margin-right: 20px;
    background: #3882F6;
    color: white;
    font-size: 15px;
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cta-nav:hover {
    background: white;
    color: black;
    transform: scale(1.1);
}

/* Hero Section Styling */
.hero-section {
    height: /* 500px */auto;
    padding: 40px;
    background: #1F2937;
}

.hero-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-section .hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-section .hero-content p {
    padding-top: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

/* About section stylings */
.about-section {
    padding: 30px;
}

.about-section h1 {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding-bottom: 30px;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.illustrations p {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.illustrations img {
    display: block;
    margin: auto;
    padding: 10px;
}

.illustration-card {
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

/* Testimonial section styling */
.testimonial {
    background: #E5E7EB;
    font-style: italic;
}

.testimonial-text {
    padding: 100px;
    font-size: 36px;
    font-weight: 200;
    color: #1F2937
}

/* Call to action section styling */
.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.cta-content {
    width: 600px;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: #3882F6;
    color: #F9FAF8;
    border: 2px solid transparent;
    border-radius: 10px;
}

.cta-text {
    font-size: 15px;
}

.cta-button {
    width: 90px;
    height: 35px;
    background: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
}

/* Footer stylings */
footer {
    padding: auto;
    height: 100px;
    text-align: center;
    background: #1F2937;
    color: #F9FAF8;
}

footer p {
    padding-top: 40px;
}